pyyaml
GitPython
mlflow
tensorboard
torch
pytest
pytest-cov
pytest-datafiles
pylint
coverage
enum34
numpy
scipy
six
networkx
future
tqdm
cloudpickle
pretrainedmodels
tqdm
tensorboardx
sklearn
ray
matplotlib
psutil
requests
# horovod==0.16.1
